<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" id="home">Home</a></li>
          <li><a href="/login" id="dashboard">Dashboard</a></li>
          {{#if logged_in}}
            <li><a href="/" id="logout">Logout</a></li>
          {{else}}
            <li><a href="/login" id="login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <script src="/js/main.js"></script>
  </body>
</html>