<div>
  <h1>Your Dashboard</h1>
</div>

{{#each blogs as |blog|}}
  <div class="card">
    <a href="/blog/{{blog.id}}" class="blog-item">
      <p>{{blog.title}}</p>
      <p>{{format_date blog.date_created}}</p>
    </a>
  </div>
{{/each}}

<div>
  <button id="new-post">+ New Post</button>
</div>