<div>
  <h1>Your Dashboard</h1>
</div>

<section class="card">
  <h2>Edit Post</h2>
  <form id="edit-form">
    <div class="form-group">
      <label for="title">Title</label><br />
      <textarea type="text" id="edit-title" name="title">{{title}}</textarea><br />
    </div>

    <div class="form-group">
      <label for="content">Content</label><br />
      <textarea id="edit-content" name="content" rows="4">{{content}}</textarea><br />
    </div>

    <div>
      <button type="button" id="update-button">Update Post</button>
      <button type="button" id="delete-button" data-userid="{{user_id}}">Delete</button>
    </div>
  </form>
</div>
