<div class="container">
  <h1>Your Dashboard</h1>

  <section class="card">
    <h2>Create New Post</h2>
    <form id="new-post-form">
      <label for="title">Title</label><br />
      <input type="text" id="new-post-title" name="title" /><br />

      <label for="content">Content</label><br />
      <textarea id="new-post-content" name="content" rows="4"></textarea><br />

      <div><button type="submit" id="new-post-button">Create</button></div>
    </form>
  </section>

</div>