body {
  background-color: #dfe4d9;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #2d2327;
  padding: 10px;
  color: #e8e8e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #e8e8e4;
  margin: 0 15px;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}

h1 {
  background-color: #2d2327;
  color: #dfe4d9;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #d9efd9;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 2px solid #333;
}

.card a {
  color: #333;
  text-decoration: none;
}

.card h2 {
  background-color: #2d2327;
  color: #dfe4d9;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h3 {
  background-color: #2d2327;
  color: #dfe4d9;
  font-size: 0.8em;
  padding: 0 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  margin: 10px 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: calc(100% - 16px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

.link {
  display: inline-block;
  margin-top: 15px;
  color: #3574d4;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.new-post-button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
